/* Adjust margin and spacing */
.hero {
    margin: 100px 100px;
}

/* Correct font-size and line-height */
.hero-text {
    color: #f6f3f3;
    font-size: 20px; /* Adjusted font size */
    line-height: 40px;/* Adjusted line height */
    margin-top: 80px;
   
    
}

/* Styling for the hero button */
.hero-explor {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjusted gap */
    padding: 8px 16px; /* Adjusted padding */
    border-radius: 30px; /* Adjusted border-radius */
    background-color: white;
    cursor: pointer;
  
}

/* Additional styling for text inside the hero button */
.hero-explor p {
    color: #292929;
    font-weight: 500;
    font-size: 16px; /* Adjusted font size */
    margin: 0; /* Remove unnecessary margin */
}

/* Styling for the hero dots */
.hero-dots {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjusted gap */
    list-style: none;
    margin-top: 290px;
   margin-left: 50px;
}

/* Styling for individual hero dots */
.hero-dot {
    width: 10px; /* Adjusted size */
    height: 10px; /* Adjusted size */
    background: #fff;
    border-radius: 50%; /* Use border-radius to make perfect circles */
    cursor: pointer;
}

/* Additional styling for specific hero dots */
.hero-dot.orange {
    background: rgb(194, 183, 180);
}

/* Styling for the play button */
.hero-play {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjusted gap */
   margin: none;
   margin-left: 950px;
}

/* Additional styling for text inside the play button */
.hero-play p {
    color: #fff;
    font-size: 16px; /* Adjusted font size */
    margin: 0; /* Remove unnecessary margin */
    
}
